
/* .login-title {
    font-weight: 600;
    color: #333;
}

.login-subtitle {
    font-size: 14px;
} */

.login-title {
    text-align: center;
}

input.login-control {
    padding: 10px;
    border-radius: 8px;
    border-color: #999;
    border-width: 2px;
    color: #333;
    margin-top: 10px;
}

input.login-control::placeholder {
    color: #888;
    transition: color .3s;
}

input.login-control:hover {
    border-color: #333;
}

input.login-control:hover::placeholder {
    color: #333;
}

input.login-control:focus {
    border-color: #333;
    box-shadow: 0 0 0 2px #33333350;
}

/* input.login-control:focus + .input-control-tips {
    color: #333;
    top: 0;
} */

.input-control-tips {
    position: absolute;
    top: 50%;   
    left: 8px;
    transform: translateY(-50%);
    z-index: 2;
    color: #999;
    transition: color .3s, top .3s;
    background-color: #fff;
    padding: 0 4px;
}

/* div.input-control-container {
    margin-top: 26px;
} */

.login-button {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background: #FF385C;
}

.login-button-continue {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 0;
    border: 2px solid #999;
    transition: border-color .3s;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    background-color: #fff;
}

.login-button-continue:hover {
    border-color: #333;
}