/* .ant-modal-content {
    padding: 10px;
} */

.ant-modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.ant-modal-title {
    text-align: center;
}

.ant-modal-close {
    left: 0;
}

li {
    list-style: none;
}
